# Executables
*.exe
*.out
*.app
/LeetCode.UnitTests/bin/
/LeetCode.UnitTests/obj/
/LeetCode/bin/
/LeetCode/obj/
/.idea
/CodeForcesTests/obj/CodeForcesTests.csproj.nuget.dgspec.json
/CodeForcesTests/obj/CodeForcesTests.csproj.nuget.g.props
/CodeForcesTests/obj/CodeForcesTests.csproj.nuget.g.targets
/CodeForcesTests/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.AssemblyInfo.cs
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.AssemblyInfoInputs.cache
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.assets.cache
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.csproj.AssemblyReference.cache
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.csproj.CopyComplete
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.csproj.CoreCompileInputs.cache
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.csproj.FileListAbsolute.txt
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.dll
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.GeneratedMSBuildEditorConfig.editorconfig
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.genruntimeconfig.cache
/CodeForcesTests/obj/Debug/net5.0/CodeForcesTests.pdb
/CodeForcesTests/obj/Debug/net5.0/ref/CodeForcesTests.dll
/CodeForcesTests/obj/Debug/net5.0/refint/CodeForcesTests.dll
/CodeForcesTests/obj/project.assets.json
/CodeForcesTests/obj/project.nuget.cache
/CodeForcesTests/obj/project.packagespec.json
/CodeForcesTests/obj/rider.project.restore.info
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
